name: Build Manager

on:
  push:
    branches: [ "revert" ]
    paths:
      - '.github/workflows/build-manager.yml'
      - '.github/workflows/build-lkm.yml'
      - '.github/workflows/ksud.yml'
      - 'manager/**'
      - 'kernel/**'
      - 'userspace/**'
  pull_request:
    branches: [ "revert" ]
    paths:
      - '.github/workflows/build-manager.yml'
      - '.github/workflows/build-lkm.yml'
      - '.github/workflows/ksud.yml'
      - 'manager/**'
      - 'kernel/**'
      - 'userspace/**'
  workflow_call:
  workflow_dispatch:

jobs:
  build-start:
    runs-on: ubuntu-latest
    steps:
      - name: Build Start
        run: |
          if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
            sudo timedatectl set-timezone Asia/Jakarta
            curl -sX POST https://api.telegram.org/bot${{ secrets.BOT_TOKEN }}/sendMessage -d chat_id=${{ secrets.CHAT_ID }} -d parse_mode=Markdown -d disable_web_page_preview=true -d text="Next: --> starting... | $(date)"
          fi
          
  build-lkm:
    uses: ./.github/workflows/build-lkm.yml
    secrets: inherit
          
  build-ksuinit:
    uses: ./.github/workflows/ksuinit.yml
    
  build-ksud:
    needs: [build-lkm, build-ksuinit]
    strategy:
      matrix:
        include:
          - target: aarch64-linux-android
            os: ubuntu-latest
    uses: ./.github/workflows/ksud.yml
    with:
      target: ${{ matrix.target }}
      os: ${{ matrix.os }}

  build-manager:
    needs: build-ksud
    runs-on: ubuntu-latest
    strategy:
      matrix:
        spoofed: [ true ]

    defaults:
      run:
        working-directory: ./manager

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Spoof Package ID
        if: matrix.spoofed == true
        run: |
          chmod +x spoof
          ./spoof
          
      - name: Setup need_upload
        id: need_upload
        run: |
          if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
            echo "UPLOAD=true" >> $GITHUB_OUTPUT
          else
            echo "UPLOAD=false" >> $GITHUB_OUTPUT
          fi

      - name: Write key
        run: |
          if [ ! -z "${{ secrets.KEYSTORE }}" ]; then
            {
              echo KEYSTORE_PASSWORD='${{ secrets.KEYSTORE_PASSWORD }}'
              echo KEY_ALIAS='${{ secrets.KEY_ALIAS }}'
              echo KEY_PASSWORD='${{ secrets.KEY_PASSWORD }}'
              echo KEYSTORE_FILE='${{ secrets.KEYSTORE }}'
            } >> gradle.properties
          fi

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Download arm64 ksud
        uses: actions/download-artifact@v6
        with:
          name: ksud-aarch64-linux-android
          path: .

      - name: Copy ksud to app jniLibs
        run: |
          mkdir -p app/src/main/jniLibs/arm64-v8a
          cp -f ../aarch64-linux-android/release/ksud ../manager/app/src/main/jniLibs/arm64-v8a/libksud.so

      - name: Build with Gradle
        run: ./gradlew clean assembleRelease

      - name: Upload build artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.spoofed && 'manager-spoofed' }}
          path: manager/app/build/outputs/apk/release/*.apk

      - name: Upload mappings
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.spoofed && 'mappings-spoofed' }}
          path: "manager/app/build/outputs/mapping/release/"

      - name: Bot session cache
        if: steps.need_upload.outputs.UPLOAD == 'true'
        id: bot_session_cache
        uses: actions/cache@v4
        with:
          path: scripts/ksubot.session
          key: ${{ runner.os }}-bot-session

      - name: Upload to telegram
        if: steps.need_upload.outputs.UPLOAD == 'true'
        run: |
          if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
            COMMIT="${{ github.event.head_commit.url }}"
            APK=$(find ./app/build/outputs/apk/release -name "*.apk")
            curl -fsSL -X POST https://api.telegram.org/bot${{ secrets.BOT_TOKEN }}/sendDocument -F chat_id=${{ secrets.CHAT_ID }} -F document=@"$APK" -F caption="$COMMIT"
          fi

  build-failed:
    needs: [build-manager]
    if: ${{ failure() }}
    runs-on: ubuntu-latest
    steps:
      - name: Build Failed
        run: |
          if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
            sudo timedatectl set-timezone Asia/Jakarta
            curl -sX POST https://api.telegram.org/bot${{ secrets.BOT_TOKEN }}/sendMessage -d chat_id=${{ secrets.CHAT_ID }} -d parse_mode=Markdown -d disable_web_page_preview=true -d text="Next: --> FAILED!!! | $(date)"
          fi